*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    max-width: 1980px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: #FFCCFF;
}

.Nav-con{
    display: flex;
    justify-content: space-between;
}

.Logo a{
    font-size: 4rem;
    color: brown;
    text-decoration: none;
}

.Menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.Menu li{
    margin: 0 1rem; 
}

.Menu li a{
    color: #330000;
    text-decoration: none;
}
    
.maincontent{
    background-color: #FFCCCC;
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 2rem;

}
.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: #CCFFFF;
    color: #000000;
    padding: 0.2rem;
    border-radius: 10px;
    text-decoration: none;
}

.maincontent-img img{
    width: 100%;
    padding: 2rem;
    border-radius: 3px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem 0;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: #330000;
    background-color: #99FFFF;
    padding: 1rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.footer-top{
    margin-top: 1rem;
    padding: 3rm;
    background-color: #FF9999   
}

.footer-top-con{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: #CC99FF;
    color: #000;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h3{
    margin-bottom: 1rem;
}

.footer-button{
    background-color: #99FFCC;
    padding: 1rem;
    text-align: center;
}